<div class="flex flex-col gap-6 px-10">
    <div class="flex items-center justify-between">
        <span class="block text-2xl font-bold text-color-primary">Board</span>
        <button class="flex items-center gap-2">
            <span class="text-xs font-bold">This week</span>
            <i class="ri-arrow-down-s-line text-sm"></i></button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 overflow-y-auto">
        <div class="col-span-1 bg-[#EEF2F5] h-full rounded-md px-4 py-2 flex flex-col gap-4">
            <div class="flex items-center justify-between">
                <span class="font-bold text-sm text-color-primary">To do</span>
                <div class="flex items-center gap-2">
                    <button (click)="openAddNewTodoModal()"><i class="ri-add-line"></i></button>
                    <button [matMenuTriggerFor]="todo"><i class="ri-more-fill"></i></button>
                    <mat-menu #todo="matMenu">
                        <button (click)="setModeTodo(2)" class="text-xs font-normal" mat-menu-item>View in list</button>
                        <button (click)="setModeTodo(0)" class="text-xs font-normal" mat-menu-item>View extended information</button>
                        <button (click)="setModeTodo(1)" class="text-xs font-normal" mat-menu-item>View basic information</button>
                    </mat-menu>
                </div>
            </div>
            @switch (todoViewMode) {
                @case(0){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <span class="block text-xs font-semibold">
                                {{ descriptionExample }}
                            </span>
                        </div>
                    </div>
                }
                @case(1){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <span class="block text-xs font-semibold">
                                {{(descriptionExample | slice:0:50) + '...' }}
                            </span>
                        </div>
                    </div>
                }
                @case(2){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <!-- <span class="block text-xs font-semibold">
                                {{(descriptionExample | slice:0:50) + '...' }}
                            </span> -->
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col-span-1 bg-[#EEF2F5] h-full rounded-md px-4 py-2 flex flex-col gap-4">
            <div class="flex items-center justify-between">
                <span class="font-bold text-sm text-color-primary">In progress</span>
                <div class="flex items-center gap-2">
                    <button [matMenuTriggerFor]="progress"><i class="ri-more-fill"></i></button>
                    <mat-menu #progress="matMenu">
                        <button (click)="setModeprogress(2)" class="text-xs font-normal" mat-menu-item>View in list</button>
                        <button (click)="setModeprogress(0)" class="text-xs font-normal" mat-menu-item>View extended information</button>
                        <button (click)="setModeprogress(1)" class="text-xs font-normal" mat-menu-item>View basic information</button>
                    </mat-menu>
                </div>
            </div>
            @switch (progressViewMode) {
                @case(0){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <span class="block text-xs font-semibold">
                                {{ descriptionExample }}
                            </span>
                        </div>
                    </div>
                }
                @case(1){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <span class="block text-xs font-semibold">
                                {{(descriptionExample | slice:0:50) + '...' }}
                            </span>
                        </div>
                    </div>
                }
                @case(2){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <!-- <span class="block text-xs font-semibold">
                                {{(descriptionExample | slice:0:50) + '...' }}
                            </span> -->
                        </div>
                    </div>
                }
            }
        </div>

        <div class="col-span-1 bg-[#EEF2F5] h-full rounded-md px-4 py-2 flex flex-col gap-4">
            <div class="flex items-center justify-between">
                <span class="font-bold text-sm text-color-primary">Done</span>
                <div class="flex items-center gap-2">
                    <button [matMenuTriggerFor]="done"><i class="ri-more-fill"></i></button>
                    <mat-menu #done="matMenu">
                        <button (click)="setModedone(2)" class="text-xs font-normal" mat-menu-item>View in list</button>
                        <button (click)="setModedone(0)" class="text-xs font-normal" mat-menu-item>View extended information</button>
                        <button (click)="setModedone(1)" class="text-xs font-normal" mat-menu-item>View basic information</button>
                    </mat-menu>
                </div>
            </div>
            @switch (doneViewMode) {
                @case(0){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <span class="block text-xs font-semibold">
                                {{ descriptionExample }}
                            </span>
                        </div>
                    </div>
                }
                @case(1){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <span class="block text-xs font-semibold">
                                {{(descriptionExample | slice:0:50) + '...' }}
                            </span>
                        </div>
                    </div>
                }
                @case(2){
                    <div class="flex flex-col gap-3 px-2">
                        <div class="flex flex-col gap-2 bg-white rounded-md p-2">
                            <div class="flex items-center justify-between">
                                <div class="flex items-center">
                                    <div class="flex items-center gap-2">
                                        <span class="bg-[#18B0FF] rounded-[50%] p-1"></span>
                                        <span class="text-[9px] font-semibold text-color-secondary">TYPOGRAPHY</span>
                                    </div>
                                </div>
                                <div><button (click)="openUpdateTodoModal({title: titleExample, description: descriptionExample})"><i class="ri-more-fill"></i></button></div>
                            </div>
                            <span class="block font-bold">{{titleExample}}</span>
                            <!-- <span class="block text-xs font-semibold">
                                {{(descriptionExample | slice:0:50) + '...' }}
                            </span> -->
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>