<div class="h-full w-full p-2">
    <div class="flex items-center justify-start">
        <span class="text-primary text-xl font-semibold">Set theme:</span>
    </div>
    <section class="grid grid-cols-3 gap-2">
        <div class="col-span-1 rounded-lg p-1 mat-elevation-z2 card-themes-settings" (click)="setTheme('light-theme')">
            <img class="hover:scale-[1.04] cursor-pointer w-full h-full bg-cover bg-center bg-no-repeat rounded-md" src="./assets/theme-light-todo.png" alt="theme light">
        </div>
        <div class="col-span-1 rounded-lg p-1 mat-elevation-z2 card-themes-settings" (click)="setTheme('dark-theme')">
            <img class="hover:scale-[1.04] cursor-pointer w-full h-full bg-cover bg-center bg-no-repeat rounded-md" src="./assets/theme-dark-todo.png" alt="theme dark">
        </div>
        <div class="col-span-1 rounded-lg p-1 mat-elevation-z2 card-themes-settings" (click)="setTheme('blue-theme')">
            <img class="hover:scale-[1.04] cursor-pointer w-full h-full bg-cover bg-center bg-no-repeat rounded-md" src="./assets/theme-blue-todo.png" alt="theme dark">
        </div>
    </section>
</div>